apiVersion: v1
kind: Service
metadata:
  labels:
    service: postgres-n8n
  name: postgres-service
  namespace: {{ .Values.namespace }}
spec:
  selector:
    app.kubernetes.io/name: n8n-database
    app.kubernetes.io/instance: {{ .Release.Name }}
  type: ClusterIP
  ports:
    - name: "5432"
      port: 5432
      targetPort: 5432
      protocol: TCP
