apiVersion: v1
kind: Service
metadata:
  name: {{ include "n8n-database.fullname" . }}
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "n8n-database.labels" . | nindent 4 }}
spec:
  selector:
    {{- include "n8n-database.selectorLabels" . | nindent 4 }}
  type: ClusterIP
  ports:
    - name: "5432"
      port: 5432
      targetPort: 5432
      protocol: TCP
