{{- if .Values.networkPolicy.enabled }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ include "n8n-database.fullname" . }}
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "n8n-database.labels" . | nindent 4 }}
spec:
  podSelector:
    matchLabels:
      {{- include "n8n-database.selectorLabels" . | nindent 6 }}
  policyTypes:
  - Ingress
  ingress:
  - from:
    {{- range .Values.networkPolicy.allowedNamespaces }}
    - namespaceSelector:
        matchLabels:
          name: {{ . }}
    {{- end }}
    - podSelector:
        matchLabels:
          app.kubernetes.io/name: n8n
    ports:
    - protocol: TCP
      port: 5432
{{- end }}