apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "n8n-database.fullname" . }}-init-data
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "n8n-database.labels" . | nindent 4 }}
data:
  init-db.sh: |
    #!/bin/bash
    set -e;
    if [ -n "${POSTGRES_NON_ROOT_USER:-}" ] && [ -n "${POSTGRES_NON_ROOT_PASSWORD:-}" ]; then
        if [ "$POSTGRES_USER" = "$POSTGRES_NON_ROOT_USER" ]; then
            echo "User $POSTGRES_USER is already the superuser. Skipping creation."
        else
            psql -v ON_ERROR_STOP=1 --username "$POSTGRES_USER" --dbname "$POSTGRES_DB" <<-EOSQL
                CREATE USER "${POSTGRES_NON_ROOT_USER}" WITH PASSWORD '${POSTGRES_NON_ROOT_PASSWORD}';
                GRANT ALL PRIVILEGES ON DATABASE ${POSTGRES_DB} TO "${POSTGRES_NON_ROOT_USER}";
            EOSQL
        fi
    else
        echo "SETUP INFO: No POSTGRES_NON_ROOT_USER environment variables given!"
    fi