apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: {{ .Values.namespace }}
type: Opaque
data:
  POSTGRES_DB: {{ .Values.postgres.auth.database | b64enc }}
  POSTGRES_USER: {{ .Values.postgres.auth.username | b64enc }}
  POSTGRES_PASSWORD: {{ .Values.postgres.auth.password | b64enc }}
  POSTGRES_NON_ROOT_USER: {{ .Values.postgres.auth.appUsername | b64enc }}
  POSTGRES_NON_ROOT_PASSWORD: {{ .Values.postgres.auth.appPassword | b64enc }}