apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: n8n-development
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/maseko-lucky-9/n8n-self-hosting.git
    targetRevision: HEAD
    path: helm/n8n-application
    helm:
      valueFiles:
        - values-dev.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: n8n-development
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true