apiVersion: v1
kind: Service
metadata:
  labels:
    service: n8n-svn
  name: {{ include "n8n-application.fullname" . }}
  namespace: {{ .Release.Namespace }}
spec:
  type: ClusterIP
  ports:
    - name: "5678"
      port: 5678
      targetPort: 5678
      protocol: TCP
  selector:
    service: n8n
