kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{ include "n8n-application.fullname" . }}-postgres-pvc
  namespace: {{ .Release.Namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
