apiVersion: v1
kind: Service
metadata:
  labels:
    service: postgres-n8n-svn
  name: {{ include "n8n-application.fullname" . }}-postgres
  namespace: {{ .Release.Namespace }}
spec:
  type: ClusterIP
  ports:
    - name: "5432"
      port: 5432
      targetPort: 5432
      protocol: TCP
  selector:
    app.kubernetes.io/name: {{ include "n8n-application.name" . | quote }}
    app.kubernetes.io/instance: {{ .Release.Name }}
