{{- if .Values.externalSecrets.enabled }}
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: postgres-secret
  namespace: {{ .Release.Namespace }}
  annotations:
    managed-by: helm
spec:
  refreshInterval: "1h"
  secretStoreRef:
    name: vault-secret-store
    kind: ClusterSecretStore
  target:
    name: postgres-secret
    creationPolicy: Owner
  data:
    - secretKey: POSTGRES_USER
      remoteRef:
        key: secret/data/n8n/postgres
        property: POSTGRES_USER
    - secretKey: POSTGRES_PASSWORD
      remoteRef:
        key: secret/data/n8n/postgres
        property: POSTGRES_PASSWORD
    - secretKey: POSTGRES_DB
      remoteRef:
        key: secret/data/n8n/postgres
        property: POSTGRES_DB
    - secretKey: POSTGRES_NON_ROOT_USER
      remoteRef:
        key: secret/data/n8n/postgres
        property: POSTGRES_NON_ROOT_USER
    - secretKey: POSTGRES_NON_ROOT_PASSWORD
      remoteRef:
        key: secret/data/n8n/postgres
        property: POSTGRES_NON_ROOT_PASSWORD
{{- else }}
apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: {{ .Release.Namespace }}
type: Opaque
stringData:
  POSTGRES_USER: "postgres"
  POSTGRES_PASSWORD: {{ .Values.database.password | quote }}
  POSTGRES_DB: {{ .Values.database.database | quote }}
  POSTGRES_NON_ROOT_USER: {{ .Values.database.username | quote }}
  POSTGRES_NON_ROOT_PASSWORD: {{ .Values.database.password | quote }}
{{- end }}