apiVersion: v1
kind: ConfigMap
metadata:
  name: init-data
  namespace: n8n-development
data:
  init-data.sh: |
    #!/bin/bash
    set -e;
    if [ -n "${POSTGRES_NON_ROOT_USER:-}" ] && [ -n "${POSTGRES_NON_ROOT_PASSWORD:-}" ]; then
        if [ "$POSTGRES_USER" = "$POSTGRES_NON_ROOT_USER" ]; then
            echo "User $POSTGRES_USER is already the superuser. Skipping creation."
        else
            psql -v ON_ERROR_STOP=1 --username "$POSTGRES_USER" <<-EOSQL
        CREATE USER $POSTGRES_NON_ROOT_USER WITH PASSWORD '$POSTGRES_NON_ROOT_PASSWORD';
        CREATE DATABASE $POSTGRES_DB;
        GRANT ALL PRIVILEGES ON DATABASE $POSTGRES_DB TO $POSTGRES_NON_ROOT_USER;
    EOSQL
        fi
    else
    	echo "SETUP INFO: No Environment variables given!"
    fi
