apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: {{ .Release.Namespace }}
type: Opaque
stringData:
  POSTGRES_USER: "postgres"
  POSTGRES_PASSWORD: {{ .Values.database.password | quote }}
  POSTGRES_DB: {{ .Values.database.database | quote }}
  POSTGRES_NON_ROOT_USER: {{ .Values.database.username | quote }}
  POSTGRES_NON_ROOT_PASSWORD: {{ .Values.database.password | quote }}
